.card {
	display: flex;
	/* height: 281px; */
	box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.overview {
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	
	margin: 0; /* Убираем внешний отступ */
	-webkit-line-clamp: 6; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden;/* Обрезаем всё за пределами блока */
}

.ant-image, .ant-image-error {
	flex-basis: 183px;
	height: 100%;
}

.wrapper {
	flex-basis: 58%;
	padding: 10px 20px;
}

.card_headline {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}

.release {
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;	
	color: #827E7E;
}

.genres {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.rating .circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 2px solid #E9D100;
	border-radius: 50px;
}

.rating .circle .ratingCounter {
	font-size: 12px;
	line-height: 24px;
}

.rating .circle-red {
	border-color: #E90000;
}

.rating .circle-orange {
	border-color: #E97E00;
}

.rating .circle-yellow {
	border-color: #E9D100;
}

.rating .circle-green {
	border-color: #66E900;
}

