@font-face {
	font-family: 'Inter';
	src: url('fonts/inter-v12-latin_cyrillic-regular.woff2') format('woff2'),
		url('fonts/inter-v12-latin_cyrillic-regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #F7F7F7;
	;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* img,
svg {
	width: 100%;
	height: auto;
} */

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}